@import url('https://fonts.googleapis.com/css2?family=Geist:wght@300;400;500;600&family=Geist+Mono:wght@400;500&display=swap');
@import 'tailwindcss';
body {
  font-family: 'Geist', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Geist Mono', monospace;
}

h1 {
  font-size: var(--text-2xl);
}

h2 {
  font-size: var(--text-xl);
}

h3 {
  font-size: var(--text-lg);
}

h4 {
  font-size: var(--text-base);
}
h5 {
  font-size: var(--text-sm);
}

h6 {
  font-size: var(--text-xs);
}
